* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin: 10px;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

div #container{
  background-color: #536DFE;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  max-width: 1200px;
  align-content: center;
}

.card{
  background-color: #00BCD4;
  padding: 10px;

}

#stacks{
  background-color: green;
  max-width: 200px;
  margin: 5px;
  padding: 5px;

}
